.button {
  display: inline-block;
  background: $black;
  color: white; 
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  cursor: hand; 
  cursor: pointer;
  @include margin(1.5, 0);
  @include transition(transform 0.1s ease-out, color 0.1s linear);
  @include border-radius(10px);
  &:hover {
    background: black;
  }
}
.button--small {
  display: inline-block;
  padding: 8px 16px;
  color: black;
  background: rgba(white, 0.75);
  @include margin(.5, 0);
  @include fs($zeta); 
  &:hover {
    background: rgba(white, 0.85);
  }
}
