// Font familys
// font-family: 'Dosis', sans-serif;
// font-family: 'Ek Mukta', sans-serif;
// font-family: 'Averia Libre', cursive;

$sans: 'Dosis', sans-serif;
$serif: Georgia, Serif;
// Type sequence
$giga: 9;
$mega: 4.8;
$alpha: 6;
$beta: 3.4;
$gamma: 2.6;
$delta: 2; // Base size
$epsilon: 1.8;
$zeta: 1.4;
// Typografy (DONT TOUCH)
$font-weight: 300;
$line-height: 1.45;
$font-size: 62.5;
// Colors
$primary: #FF6666;
$secondary: #FFFF9D;
$black: #222222;
// Margins
$sm: 4;
$mm: 8;
$lm: 16;
