// Compass includes
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/css3/flexbox";
@import "compass/layout/stretching";

@import "variables", "mediaqueries", "mixins", "typography", "button", "font";
@import url(http://fonts.googleapis.com/css?family=Dosis:300,700);
html {
  font: $font-weight #{$font-size}%/#{$line-height} $sans;
  height: 100%;
}
body {
  color: $secondary;
  background: $primary;
  height: 100%;
  font-weight: 700;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  @include fs($epsilon);
  @include font-feature();
}
.container {
  position: relative;
  height: 100%;
  & > footer {
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    @include fs($zeta);
  }
}
.icon {
  width: 12px;
  height: 12px;
}
input {
  border: 0;
  background: transparent;
  font-family: $sans;
  color: $link;
  font-weight: 700;
  @include appearance(none);
  @include fs($zeta);
  -webkit-font-smoothing: antialiased;
  &:hover {
    font-weight: 700;
  }
  &:focus {
    outline: none;
  }
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  color: $link;
  &:hover {
    color: #953838;
    background: #e75c5c;
  }
}
/*
 * BUTTON
 */
.button {
  display: inline-block;
  background: #e75c5c;
  color: $link;
  letter-spacing: 0.5px;
  cursor: hand;
  cursor: pointer;
  @include border-radius(10px);
  @include transition(transform 0.05s ease-out);
  &:hover {
    background: #a93d3d;
    color: $primary;
  }
  &:active {
    @include scale(0.98);
  }
}
/*
 * TYPOGRAPHY
 */
p {
  @include margin(0.5, 0.5);
}
.thin {
  font-weight: 300;
}
.bold, b, strong {
  font-weight: 700;
}
em {
  font-weight: 300;
  a {
    font-weight: 300;
  }
}
i {
  margin-left: -2px;
}
/*
 * HEADER
 */
.header {
  height: 42px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 0 15px;
  text-align: justify;
  text-transform: uppercase;
  z-index: 1000;
  @include fs($zeta);
}
.header__title {
  float: left;
  font-weight: 300;
}
.header__info {
  float: right;
  @extend a;
}
/*
 * JOKE
 */
.jokes {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.joke {
  padding: 25px;
  padding-bottom: 88px;
  @include stretch;
  @include box-sizing(border-box);
  @include flexbox((
    display: box,
    flex-align: center
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-align: center
  ), $version: 2);
  @include flexbox((
    display: flex,
    align-items: center
  ));
}
.joke__delivery {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  footer {
    position: absolute;
    top: 100%;
    @include margin(1, 0);
    @include fs($zeta);
  }
}
.joke__delivery {
  .question, .answer {
    line-height: 1.25;
    @include margin(1, 1);
    @include fs($gamma);
  }
}
@media #{$medium-up}{
  .joke__delivery {
    .question, .answer {
      @include margin(2, 2);
      @include fs($alpha);
    }
  }
}
.share--url {
  @extend a;
  img {
    margin-left: 5px;
    margin-right: 5px;
  }
}
/*
 * PAGE INFO
 */
.page-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $primary;
  background: #461010;
  text-align: center;
  padding: 25px;
  @include box-sizing(border-box);
  @include fs($zeta);
}
/*
 * MORE JOKES
 */
.refresh-joke {
  display: block;
  text-align: center;
  height: 52px;
  line-height: 52px;
  background: #e75c5c;
}
@media #{$medium-up}{
  .refresh-joke {
    padding: 0 50px;
    display: inline-block;
  }
}

@import "_partials/header","_partials/joke";
