// Compass includes
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/css3/flexbox";
@import "compass/layout/stretching";

@import "variables", "mediaqueries", "mixins", "typography", "button";
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
html {
  font: $font-weight #{$font-size}%/#{$line-height} $sans;
  height: 100%;
}
body {
  color: $secondary;
  background: $primary;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  @include fs($epsilon);
  @include font-feature();
  & > footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    @include fs($zeta);
  }
}
.icon {
  width: 12px;
  height: 12px;
}
input {
  border: 0;
  background: transparent;
  font-family: $sans;
  color: $link;
  @include appearance(none);
  @include fs($zeta);
  &:focus {
    outline: none;
  }
}
a {
  display: inline-block;
  padding: 3px 5px;
  color: $link;
  &:hover {
    color: #953838;
    background: #e75c5c;
  }
}
/*
 * JOKE
 */
.jokes {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.joke {
  padding: 25px;
  padding-bottom: 62px;
  @include stretch;
  @include box-sizing(border-box);
  @include flexbox((
    display: box,
    flex-align: center
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-align: center
  ), $version: 2);
  @include flexbox((
    display: flex,
    align-items: center
  ));
}
.joke__delivery {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  font-weight: 700;
  footer {
    position: absolute;
    top: 100%;
    font-weight: 700;
    @include margin(1, 0);
    @include fs($zeta);
  }
}
.joke__sharelink {
  @extend a;
  img {
    margin-left: 5px;
    margin-right: 5px;
  }
}
/*
 * MORE JOKES
 */
.refresh-joke {
  display: block;
  text-align: center;
  height: 52px;
  line-height: 52px;
  font-weight: 700;
}

@import "_partials/header","_partials/joke";
