// Compass includes
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/css3/flexbox";
@import "compass/layout/stretching";

@import "variables", "mediaqueries", "mixins", "typography", "button";
@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
html {
  font: $font-weight #{$font-size}%/#{$line-height} $sans;
  height: 100%;
}
body {
  color: $secondary;
  background: $primary;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  @include fs($epsilon);
  @include font-feature();
  & > footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    @include fs($zeta);
  }
}

/*
 * BASIC STUFF
 */
.joke__sharelink {
  display: inline-block;
  padding: 3px 10px;
  color: #d05252;
  background: transparent;
  border: 1px solid #e75c5c;
  img {
    margin-right: 5px;
  }
}
input {
  border: 0;
  background: transparent;
  font-family: $sans;
  color: #d05252;
  @include appearance(none);
  @include fs($zeta);
  &:focus {
    outline: none;
  }
}
a {
  display: inline-block;
  padding: 3px 5px;
  color: #d05252;
  border: 1px solid #e75c5c;
  &:hover {
    color: #953838;
    background: #e75c5c;
  }
}
/*
 * MORE JOKES
 */
.refresh-joke {
  display: block;
  text-align: center;
  height: 52px;
  line-height: 52px;
  font-weight: 700;
}

@import "_partials/header","_partials/joke";
