article.joke
  .joke__delivery
    div.question#question!=tip.question
    div.answer#answer!=tip.answer
    footer.joke__share
      span
        | För kul! Alla måste höra!
      a.share--facebook(href="#")
        i(class="icon-facebook")
        | Facebook
      a.share--twitter(href="#")
        i(class="icon-twitter")
        | Twitter
