article.joke
  .joke__delivery
    div.question#question!=tip.question
    div.answer#answer!=tip.answer
    footer
      a.share--facebook(href="#")="Facebook"
      a.share--twitter(href="#")="Twitter"
      div.joke__sharelink
        img(src="/svg/link-intact.svg", class="icon")
        input.permalink(value="http://goaskamt.se/" + tip.permalink)
