article.joke
  .joke__delivery
    p#question!=tip.question
    p#answer!=tip.answer
  footer
    p
      a#refresh(href="/")="Mer &raquo;"
    p
      a#permalink(href="/" + tip.permalink)="Permalink"
