.header {
  height: 42px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 0px 15px;
  text-align: justify;
  text-transform: uppercase;
  z-index: 1000;
  @include fs($zeta);
}
.header__title {
  float: left;
  font-weight: 300;
}
.header__info {
  float: right;
  cursor: pointer;
  display: block;
  height: 32px;
  width: 32px;
  padding: 0;
  text-align: center;
  line-height: 32px;
  margin: 7px 0;
  @include border-radius(50%);
}
