.jokes {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.joke {
  padding: 25px;
  padding-bottom: 62px;
  @include stretch;
  @include box-sizing(border-box);
  @include flexbox((
    display: box,
    flex-align: center
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    flex-align: center
  ), $version: 2);
  @include flexbox((
    display: flex,
    align-items: center
  ));
}
.joke__delivery {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  font-weight: 700;
  footer {
    position: absolute;
    top: 100%;
    font-weight: 700;
    @include fs($zeta);
  }
}
