.header {
  height: 42px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 0 15px;
  text-align: justify;
  text-transform: uppercase;
  @include fs($zeta);
}
.header__title {
  float: left;
  font-weight: 300;
}
.header__intructions {
  display: none;
  float: right;
}
@media #{$mediup-up}{
  .header__instructions {
    display: block;
  }
}
